.slidein-enter-from,
.slidein-leave-to {
	transform: translateY(1.5rem);
	opacity: 0;
}

.slidein-enter-active,
.slidein-leave-active {
	transition: all 0.4s ease;
}

.slidein-enter-to,
.slidein-leave-from {
	transform: translateY(0rem);
	opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.15s linear;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.slideDown-enter-active,
.slideDown-leave-active {
	transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.slideDown-enter-from {
	opacity: 0;
	transform: translateY(-10rem);
}

.slideDown-leave-to {
	opacity: 0;
	transform: translateY(10rem);
}