*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

* {
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

html {
    min-height: 100vh;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
    background-color: var(--body-background);

	&.overflow-hidden {
		overflow: hidden;
	}
}
