*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
    min-height: 100vh;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	box-sizing: border-box;

	&.overflow-hidden {
		overflow: hidden;
	}
}
