ul {
	list-style: none;
}

a:link,
a:visited {
	text-decoration: none;
	outline: none;
}

textarea {
	resize: none;
}

input,
textarea,
button {
	font: inherit;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:disabled {
		cursor: not-allowed;
	}
}
